body {  
    background: linear-gradient(white, rgb(50, 61, 255));
    color :black;
    height: 100%;
}

.textenoir {
    color :black;
}

.titre {
    font-family: 'Kiwi Maru', serif;
    font-size: 40px;
}

.contact {
    text-align: center;
    margin-left: auto;
    margin-right: auto 
}

header {
    padding: 5px;
    background-color: rgb(1, 39, 255);
    margin-bottom: 10px;
    color :white;
}

.cadre {
    border : solid;
    margin: 2px;
    padding: 5px;
    padding-left: 25px;
    color :white;
}

footer {
    bottom: 0;
    clear: both;
    position: relative;
    width: 100%;
    color:white;
    height: auto;
}

.btn-modif {
    font-size: 15px;
    min-height: 50px;
    height: fit-content;
    width: 200px;
    max-width: 100%;
}

.btn-blanc {
    background-color: #ffffff;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
}


.btn-deco {
    font-family: 'Kiwi Maru', serif;
    font-size: 15px;
    background-color: #ffffff;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 150px;
    height: 55px;
}

.btn-deco-rond {
    background-color: #ffffff;
    height: 76px;
    width: 76px;
    border: 1px;
    border-style: solid;
    border-radius: 38px;
}

.invisible b {
    position: absolute;
    left: 0;
    top: -10000px;
    overflow: hidden;
}